#!/bin/bash

# @ initialdir = _WRKDIR_
# @ output = _WRKDIR_/ll.logs/$(job_name).out
# @ error =  _WRKDIR_/ll.logs/$(job_name).err
# @ input = /dev/null
# @ job_type = serial
# @ class = short
# @ group = isimip
# @ notification = complete
# @ notify_user = buechner@pik-potsdam.de
## @ environment = COPY_ALL
# @ job_name = construct_cor_all
# @ comment = ISI-MIP IO
# @ checkpoint = no
# @ restart = no
# @ queue

